= stylesheet_link_tag 'auth'
.container.fixed-container
  .row.auth-container.mb-5.align-items-center
    .col-md-6.h-100.d-flex.justify-content-center
      = image_tag "undraw_forgot_password_re_hxwm.svg", class: "w-100"
    .col-md-6.h-100.p-5
      - if @form.errors[:verify_user_exist].any? && !@form.errors[:email].any?
        .alert.alert-danger
          = @form.errors[:verify_user_exist][0]
      h3 Forget Password?
      h6 Enter your registered email to reset the password
      = form_with model: @form, url: sent_password_reset_mail_path, method: :post, class: "form w-100" do |form|
        .form-item.w-100
          .form-input
            = form.label "Email"
            = form.text_field :email
            - if @form.errors[:email].any?
              .text-danger
                = @form.errors[:email][0]
          .form-input.d-flex.button-double.justify-content-end
            = link_to "Cancel", login_path, class: "btn cancel"
            = form.submit "Send", class: "btn post"

