= stylesheet_link_tag 'auth'
.container.fixed-container
  .row.auth-container.mb-5.align-items-center
    .col-md-6.h-100.d-flex.justify-content-center
      img src="assets/undraw_security_re_a2rk.svg" width="100%"
    .col-md-6.h-100.d-flex.p-5.align-items-center
      = form_with model: @form, :url => change_password_action_path, class: "form w-100" do |form|
        .form-item.w-100
          .form-input
            = form.label :old_password
            = form.password_field :old_password
            - if @form.errors[:old_password].any?
              span.text-danger
                = @form.errors.where(:old_password).first.message
            - elsif flash[:error]
              span.text-danger
                = flash[:error]
          .form-input
            = form.label :password
            = form.password_field :password
            - if @form.errors[:password].any?
              span.text-danger
                = @form.errors.where(:password).first.message
          .form-input
            = form.label :password_confirmation
            = form.password_field :password_confirmation
            - if @form.errors[:password_confirmation].any?
              .text-danger
                = @form.errors.where(:password_confirmation).first.message
          .form-input.d-flex.button-double.justify-content-end
            button.btn.post type="submit" Confirm
