= stylesheet_link_tag 'fixed_frame'
= stylesheet_link_tag 'setting'
.container.fixed-container
  .row.auth-container.mb-5.align-items-center
    .col-md-6.h-100.d-flex.justify-content-center
      = image_tag "undraw_wait_in_line_o2aq.svg", class: "w-100"
    .col-md-6.h-100.p-5
      = form_with model: @form, url: create_user_path(@form), method: :post, class: "main-form" do |form|
        .form-item.w-100
          .form-input
            = form.label "Username"
            = form.text_field :name
            - if @form.errors[:name].any?
              span.text-danger
                = @form.errors[:name][0]
          .form-input
            = form.label :email
            = form.text_field :email
            - if @form.errors[:email].any?
              span.text-danger
                = @form.errors[:email][0]
          .form-input
            = form.label :password
            = form.password_field :password
            - if @form.errors[:password].any?
              span.text-danger
                = @form.errors[:password][0]
          .form-input
            = form.label :phone
            = form.text_field :phone
            - if @form.errors[:phone].any?
              span.text-danger
                = @form.errors[:phone][0]
          .form-row.d-flex.w-100.mt-4
            .form-item
              .checkbox-wrap
                = form.radio_button :role, "0", checked: "checked", id: "user"
                .checkbox-box.round
                label for="user" Regular user
            .form-item
              .checkbox-wrap
                = form.radio_button :role, "1", id: "admin"
                .checkbox-box.round
                label for="admin" Administrator
          - if @form.errors[:role].any?
            span.text-danger
              = @form.errors[:role][0]
          .form-input.d-flex.button-double.justify-content-end
            = link_to "Cancel", @form, class: "btn cancel"
            = form.submit "Create", :class => "btn post"
