<p>Hi! <%= @reset_mail_form[:email] %></p>
<p>We received a request to reset your Bulletin password.</p>
<%= link_to "Change Password", password_reset_url(token: @reset_mail_form[:token]), class: "btn btn-primary", target: "_blank" %>

