<footer>
  <div class="footer w-100 d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-center align-items-center">
      Copyright &copy; <%= DateTime.now().year %> CGMGL.
    </div>
  </div>
</footer>
